.DS_Store
auto
/distributed-computing-ozchi-2015.aux
/distributed-computing-ozchi-2015.bbl
/distributed-computing-ozchi-2015.blg
/distributed-computing-ozchi-2015.log
/distributed-computing-ozchi-2015.pdf
